
<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/static/css/tailwind.css" rel="stylesheet">
</head>
<body>


<div class="bg-gray-200 font-sans h-screen w-full flex flex-row justify-center items-center">
  <div class="card w-96 mx-auto py-8 bg-white shadow-xl hover:shadow">
     <img class="w-32 mx-auto rounded-full -mt-20 border-8 border-white" src="/static/img/jordan.jpeg" alt="">
     <div class="text-center mt-2 text-3xl font-medium">Hair Jordan</div>
     {{ if .Appointments }}
       {{ range .Appointments }}
       <div class="text-center font-normal text-md">{{ .Format "Jan 2, 2006"}}</div>
       {{ end }}
     {{ else }}
       <div class="text-center font-normal text-md">No last minute appointments.</div>
     {{ end }}
       <div></div>
     </div>
  </div>

</body>
